<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Folders" type="SingleCopy.Config.Folders, SingleCopy" />
  </configSections>
  <Folders>
    <Exclude>C:\Users\Default</Exclude>
    <Exclude>C:\Users\All Users\Microsoft</Exclude>
    <Exclude>C:\ProgramData\Microsoft</Exclude>
    <Exclude>C:\Windows</Exclude>
    <Exclude>C:\Program Files (x86)</Exclude>
    <Exclude>C:\Program File</Exclude>
  </Folders>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.246" newVersion="1.2.0.246" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
